* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #333333;
  height: 80px;
  width: 100%;
}

li, a, button {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #8900FF;
}

a {
  transition: all 0.3s ease 0s;
}
a:hover {
  color:rgba(255, 0, 0, 0.8);
}

label.logo a {
  color: black;
}
label.logo a:hover {
 color: white;
}

.logo {
  cursor: pointer;
  background-color: rgba(0, 255, 127, 1);
  border-radius: 50px;
  padding: 9px ;
  transition: all 0.3s ease 0s;
  color: black;
}
.logo:hover {
  background-color: rgba(0, 255, 127, 0.8);
  color: white;
}


.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: rgba(0, 255, 127, 0.8);
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 255, 127, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: black;
}

button:hover{
  background-color: rgba(0, 255, 127, 0.8);
  color: white;
}


body 
{
  font-family: "Comfortaa", cursive;
  background-color: #F4F4F4;
}

img {
  height: 400px;
  width: auto;
}

hr {
  height: 1px;
  width: 25%;
  border-radius: 10px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #00FF7F;
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table th, .content-table td {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid lightgray;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #e7e5e5;
  color: black;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #00FF7F;
}